* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* h1 {
	line-height: 3.5rem;
} */

@use "sass:math" as math;

// Flexbox display
@mixin flexbox {
	display: flex;
}

/*Crowdfund*/
.crowdfund {
	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: 1px solid $grey;
		position: relative;
		border-radius: 0.8rem;
		background-color: $white;

		text-align: center;
		padding: 2rem;
		margin: 2rem auto;

		@include breakpoint-up(medium) {
			padding: 4rem;
		}
	}

	&__description {
		color: $dark-grey;
		line-height: 3rem;
		margin-bottom: 2rem;
	}

	&__heading {
		font-size: 3rem;
		font-weight: 700;
		color: $black;
	}

	&__sub-heading {
		font-size: 2rem;
		font-weight: 700;
		color: $black;
	}

	&__pledge {
		color: $moderate-cyan;
		font-weight: 500;
	}

	&__project {
		display: flex;
		/* 		justify-content: center; */
		/* 		align-items: center; */
		flex-direction: column;
		border: 1px solid $grey;
		position: relative;
		border-radius: 0.8rem;
		background-color: $white;
		text-align: initial;

		.btn {
			width: 45%;
		}

		/* 		text-align: center; */
		padding: 2rem;
		margin: 2rem auto;

		@include breakpoint-up(medium) {
			padding: 4rem;
		}
	}

	&__capacity {
		span {
			font-size: 2rem;
			font-weight: 700;
			color: $black;
		}
		margin-bottom: 3rem;
	}

	&__out-stocked {
		opacity: 0.5;
	}

	&__top {
		margin-top: -6rem;
	}

	&__heading {
		font-weight: 600;
	}

	&__description {
		color: $dark-grey;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	&__bookmark-cta {
		background-color: $grey;
		border-radius: 3rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		font-weight: 700;
		align-items: center;

		.icon-fill {
			fill: #2f2f2f;
		}

		&.active {
			p {
				color: $dark-cyan;
			}

			.icon-fill {
				fill: $dark-cyan;
			}
		}

		p {
			padding: 0 1.25rem;
			display: none;
			@include breakpoint-up(medium) {
				display: block;
			}
		}
	}

	&__logo {
		position: absolute;
		top: -3.3rem;
		width: 5.6rem;
		height: 5.6rem;
	}
}
