* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* h1 {
	line-height: 3.5rem;
} */

@use "sass:math" as math;

// Flexbox display
@mixin flexbox {
	display: flex;
}

/*Crowdfund*/
.crowdfund {
	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: 1px solid $grey;
		position: relative;
		border-radius: 0.8rem;
		background-color: $white;

		text-align: center;
		padding: 2rem;
		margin: 2rem auto;

		@include breakpoint-up(medium) {
			padding: 4rem;
		}
	}

	&__top {
		margin-top: -6rem;
	}

	&__heading {
		font-weight: 600;
	}

	&__description {
		color: $dark-grey;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	&__bookmark-cta {
		background-color: $grey;
		border-radius: 3rem;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		font-weight: 700;
		align-items: center;

		p {
			padding: 0 1.25rem;
			display: none;
			@include breakpoint-up(medium) {
				display: block;
			}
		}
	}

	&__bookmark {
		width: 3.6rem;
		height: 3.6rem;
	}

	&__logo {
		position: absolute;
		top: -3.3rem;
		width: 5.6rem;
		height: 5.6rem;
	}
}
